*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit, sans-serif;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav{
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: #00EED0;
    position: relative;
    transition: all 0.3s ease;
   
}

nav ul li a::after{
    content: '';
    position:absolute;
    width: 0;
    height: 2px;
    background: #00EED0;
    bottom: -4px;
    left: 0;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


.hero-title{
    color: #00EED0;
    font-size: 2.5rem;  
    
}

.hero-subtitle{
    color: #00EED0;
}

.link-email-button{
    background-color: #00EED0;
    border-radius: 25px;
    color: #02153D;
    text-align: center;
    border: 2px solid #00EED0;
     transition:0.25s ease;
}

.link-email-button:hover{
    background-color: #02153D;
    color: #00EED0;
}



header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(to bottom, #02153D 85%, #00EED0 99%);
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 90px
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bi-envelope-fill{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.me{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00EED0;
}


@media (max-width: 700px) {
 .me{
    display:none
 }

 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header, .hero{
    justify-content: center;
    text-align: center;
   header{
  padding-left: 20px;
  padding-right: 20px;
}
}
.hero-title{
    font-size: 2rem;
    font-weight: 400;
}
.hero-subtitle{
    font-size: 1.2rem;
    font-weight: 200;
}

.bi-envelope-fill{
    font-size: 1rem;
    margin-right: 0.5rem;
}

.link-email-button:active{
    background-color: #00EED0;
    color: #02153D;
     transform:scale(0.96);
}

nav ul li a::after{
    display: none
}
}