* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kanit, sans-serif;
  line-height: 1,5;
}
ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

nav {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #00eed0;
  position: relative;
  transition: all 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #00eed0;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.hero-title{
  color: #00eed0;
  font-size: 2.5rem;
}

.hero-subtitle {
  color: #00eed0;
}

.link-email-button, .link-cv-button {
  background-color: #00eed0;
  border-radius: 25px;
  color: #02153d;
  text-align: center;
  border: 2px solid #00eed0;
  transition: 0.25s ease;
}

.link-cv-button{
    padding: 0.7rem;
    margin-bottom: 5rem;
}

.link-email-button:hover {
  background-color: #02153d;
  color: #00eed0;
}

header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(to bottom, #02153d 85%, #00eed0 99%);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 90px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bi-envelope-fill, .bi-arrow-down-square-fill {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.me {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00eed0;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(to top, #02153d 90%, #00eed0 99%);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
}

.title-footer {
  margin-top: 5rem;
  color: #00eed0;
  font-size: 2.5rem;
}

.contact-nav ul{
  flex-direction: column;
  gap: 12px;
}

section{
  padding-left: 150px;
  padding-right: 150px;  
}

.titre-section {
  color: #02153d;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 300;
}

.p-about-me {
  padding-bottom: 2rem;
  font-weight: 300;
}

.section-bg{
  width:100%;
  background: rgba(205,226,223,0.25);
  margin-top: 5rem;
  padding: 1rem;
}

.container{
  padding-left: 150px;
  padding-right: 150px;

}
@media (max-width: 700px) {
  .me {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  header,
  .hero {
    justify-content: center;
    text-align: center;
  }

  header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-title {
    font-size: 2rem;
    font-weight: 400;
  }
  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .bi-envelope-fill {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .link-email-button:active {
    background-color: #02153d;
    color: #00eed0;
    border: 2px solid #00eed0;
    transform: scale(0.96);
  }

  nav ul li a::after {
    display: none;
  }

  footer{
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
}